#VSCode
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea

__pycache__

#Videos
*.mp4
*.avi
*.gif

#data
dataset/private

#encodings
encodings/private