#VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#Videos
*.mp4
*.avi
*.gif
.vscode/settings.json

#data
dataset/private

#encodings
encodings/private