[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imutils = "*"
jupyter = "*"
scipy = "*"
pandas = "*"
opencv-python = "*"
dlib = "*"
numpy = "*"
progressbar = "*"
face-recognition = "*"

[dev-packages]

[requires]
python_version = "3"
